footer {
  margin-top: 10vmax;
  padding: 2vmax;
  /* background-color: rgb(34, 33, 33); */
  background-color: #292b46;
  color: white;
  /* display: flex; */
  align-items: center;
}

.footer {
  display: flex;
}
@media (max-width: 786px) {
  footer {
    flex-direction: column;
    gap: 2.5rem;
  }
}

.leftFooter {
  width: 20%;
  display: flex;

  flex-direction: column;
  align-items: center;
}
.leftFooter > h4 {
  font-family: "Roboto";
  font-size: 1vmax;
}
.leftFooter > p {
  text-align: center;
  font-size: 1.2vmax;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.leftFooter > img {
  width: 10vmax;
  margin: 1vmax;
  cursor: pointer;
}

.midFooter {
  width: 60%;
  align-self: center;
}

.midFooter > h1 {
  font-size: 4vmax;
  font-family: "Roboto";
  text-align: center;
  /* color: #eb4034; */
  /* color:lightcoral; */
  color:crimson;
  /* color:darkgoldenrod;   */
}

.midFooter > p {
  font-weight: normal;
  text-align: center;
  /* max-width: 60%; */
  /* font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif; */
  /* margin: 1vmax auto; */
}
/* 
.midFooter > div > p {
  text-align: right;
}

.midFooter > div > a {
  color: white;
  margin-left: 20px;
  text-align: left;
  text-decoration: none;
} */

.footerSupport {
  display: flex;
  justify-content: center;
  margin: 0 20%;
  margin-top: 3vh;
  background-color: gainsboro;
  height: 8vh;
  align-items: center;
  margin-bottom: -4.5vh;
  border-radius: 12px 12px 0 0;
}

.footerSupport > a {
  color: black;
  margin-right: 1.5vw;
}

.footerSupport > p { 
  color: black;  
}

.rightFooter {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.rightFooter > h4 {
  font-family: "Roboto";
  font-size: 1.4vmax;
  text-decoration: underline;
}
.rightFooter > a {
  text-decoration: none;
  font-size: 1.3vmax;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: white;
  transition: all 0.5s;
  margin: 0.5vmax;
}

.rightFooter > a:hover {
  color: #eb4034;
}




