.tosContainer {
    height: 250vh;
    /* margin-bottom: -150px; */
    width: 100vw;
    max-width: 100%;
    display: grid;
    /* place-items: center; */
    align-items: flex-start;
    /* background-color: white; */
    background-color:rgb(128, 199, 240); 
    /* position: fixed; */
}

.tosContainer > h1 {
    font: 200 3.5rem solid black;
    text-align: center;
    padding: 0 10rem;
    /* margin-bottom: -50px; */
}

.tosContainer > h2 {
    font: 200 2rem solid black;
    text-align: center;
    padding: 0 10rem;
    /* margin-bottom: -50px; */
}

.tosContainer > h4 {
    font: 200 3.5rem solid black;
    text-align: center;
    padding: 0 10rem;
    margin-bottom: -50px;
}

.tosContainer > ul {
    font: 200 1.2rem solid black;
    /* text-align: center; */
    padding: 0 10rem;
    /* margin-bottom: -50px; */
}

.tosContainer > p {
    font: 200 1.5rem solid black;
    /* text-align: center; */
    padding: 0 10rem;
}

.ppContainer {
    height: 500vh;
    /* margin-bottom: -150px; */
    width: 100vw;
    max-width: 100%;
    display: grid;
    /* place-items: center; */
    align-items: flex-start;
    /* background-color: white; */
    background-color:rgb(128, 240, 173); 
    /* position: fixed; */
}

.ppContainer > h1 {
    font: 200 3.5rem solid black;
    text-align: center;
    padding: 0 10rem;
    margin-bottom: 50px;
}

.ppContainer > h2 {
    font: 900 2rem solid black;
    text-align: center;
    padding: 0 10rem;
    margin-top: 10px;
}

.ppContainer > h4 {
    font: 200 3.5rem solid black;
    text-align: center;
    padding: 0 10rem;
    /* margin-bottom: -50px; */
}

.ppContainer > p {
    font: 200 1.5rem solid black;
    /* text-align: center; */
    padding: 0 10rem;
    /* margin-top: -50px; */
}

.ppContainer > ul {
    font: 200 1.2rem solid black;
    /* text-align: center; */
    padding: 0 10rem;
    /* margin-top: -50px; */
}

.cancelContainer {
    height: 300vh;
    /* margin-bottom: -150px; */
    width: 100vw;
    max-width: 100%;
    display: grid;
    /* place-items: center; */
    align-items: flex-start;
    /* background-color: white; */
    background-color:rgb(225, 240, 128); 
    /* position: fixed; */
}
.cancelContainer > p {    
    font: 200 1.5rem solid black;
    /* text-align: center; */
    padding: 0 10rem;
}

.cancelContainer > h1 {    
    font: 900 2.5rem solid black;
    text-align: center;
    padding: 0 10rem;
}

.cancelContainer > h2 {    
    font: 900 1.5rem solid black;
    text-align: center;
    padding: 0 10rem;
}

.cancelContainer > ul {    
    font: 300 1.2rem solid black;
    /* text-align: center; */
    padding: 0 10rem;
    margin-bottom: 10px;
}

.supportContainer {
    height: 50vh;
    /* margin-bottom: 0px; */
    width: 100vw;
    max-width: 100%;
    display: grid;
    place-items: center;
    /* background-color: white; */
    background-color:rgb(190, 128, 240); 
}

.supportContainer > h1 {
    font: 200 3.5rem solid black;
    text-align: center;
    padding: 0 10rem;
    margin-bottom: -50px;
}

.supportContainer > h3 {
    font: 200 1.5rem solid black;
    text-align: center;
    padding: 0 12rem;
    flex-wrap: flex;
}

.mailBtn {
    text-decoration: none;
    transform: translateX(-100vw);
    animation: mailBtnAnimation 2s forwards;
  }
  
  .mailBtn > button {
    text-decoration: none;
    font: 200 2vmax "Roboto";
    cursor: url("https://img.icons8.com/color/48/000000/edit--v2.png"), pointer;
    padding: 2vmax;
  }
  
  @keyframes mailBtnAnimation {
    to {
      transform: translateX(0);
    }
  }
